@import './styles//scss/config';

.container {
  background: $background-color;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      to right,
      rgba($background-color, 1),
      rgba($background-color, 0.9)
    ),
    url('./assets/ws_Kanye_West_Cool_1920x1080.jpg');
  color: $primary-text-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  @include addFlexbox(column);

  @media (max-width: $mobiles) {
    background-position: left center;
  }

  .outer-container {
    @include addFlexbox(column);
    .main-container {
      @include addFlexbox(column);
      text-align: center;
      height: 30vh;
      width: 80%;

      @media (max-width: $smaller-screens) {
        height: 40vh;
      }

      @media (max-width: $mobiles) {
        height: 50vh;
      }
    }
  }
}
