.button {
  background: $button-color;

  width: 10rem;
  height: 3rem;
  @include addFlexbox(column);
  @include transition-ease;
  border-radius: 1rem;
  opacity: 0.85;

  .button-text {
    color: #000000;
    font-weight: 600;
    font-size: 1.4rem;
  }

  &:hover {
    @include transition-ease;
    cursor: pointer;
    width: 10.5rem;
    opacity: 1;
  }
}
